# ENV = DEV || PROD

ENV=DEV
PORT=8080

DB_DIALECT=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=api
DB_USER=postgres
DB_PASS=postgres

DEFAULT_TIMEOUT=120 #SECONDS

DATABASE_URL="postgresql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"

SECRET_KEY=api.dev
AMQP_HOST=localhost
AMQP_QUEUE=whatsapp